section.about#about(style="background-image: url(./img/About/about-bg.jpg);")
	.about__container
		.about__inner
			h2.about__title.page-title._anim-items._anim-no-hide Our short story
			.about__content
				p.about__text._anim-items._anim-no-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur	tortor&nbsp;id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat	purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem.
				p.about__text._anim-items._anim-no-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat	purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem.
			a.about__btn.page-link.popup-link._anim-items._anim-no-hide(href="#popup")
				span More about our team
