section.action
	.action__container
		.action__content
			h4.action__title Are you ready to&nbsp;go?
			p.action__text Here the call to&nbsp;action area. Lorem ipsum dolor sit amet and click o&nbsp;the button
		a.action__btn(href="")
			span Start your project
