section.blog#blog
	.blog__container
		h2.blog__title.page-title._anim-items._anim-no-hide From the blog
		.blog__inner._anim-items._anim-no-hide
			.blog__column
				article.blog__item.item-blog
					a.item-blog__img(href="")
						img(src="./img/Blog/blog-img-1.jpg" alt="")
					.item-blog__content
						a.item-blog__link(href="#")
							h3.item-blog__title Cache Invalidation Strategies With Varnish Cache
						.item-blog__data
							a.item-blog__data-link._icon-calendar(href="") March 4,2014
							a.item-blog__data-link._icon-chat(href="#") 2 comments
						.item-blog__text
							p Shortly thereafter, I&nbsp;was working with RetailMeNot, tasked with designing its iOS and Android app tutorial.
							p The product team wanted to&nbsp;make sure hat users were clear about the value
			.blog__column
				article.blog__item.item-blog
					a.item-blog__img(href="")
						img(src="./img/Blog/blog-img-2.jpg" alt="")
					.item-blog__content
						a.item-blog__link(href="#")
							h3.item-blog__title Cache Invalidation Strategies With Varnish Cache
						.item-blog__data
							a.item-blog__data-link._icon-calendar(href="") March 4,2016
							a.item-blog__data-link._icon-chat(href="#") 4 comments
						.item-blog__text
							p Shortly thereafter, I&nbsp;was working with RetailMeNot, tasked with designing its iOS and Android app tutorial.
							p The product team wanted to&nbsp;make sure hat users were clear about the value
			.blog__column
				article.blog__item.item-blog
					a.item-blog__img(href="")
						img(src="./img/Blog/blog-img-3.jpg" alt="")
					.item-blog__content
						a.item-blog__link(href="#")
							h3.item-blog__title Cache Invalidation Strategies With Varnish Cache
						.item-blog__data
							a.item-blog__data-link._icon-calendar(href="") March 4,2018
							a.item-blog__data-link._icon-chat(href="#") 6 comments
						.item-blog__text
							p Shortly thereafter, I&nbsp;was working with RetailMeNot, tasked with designing its iOS and Android app tutorial.
							p The product team wanted to&nbsp;make sure hat users were clear about the value