section.clients
	.clients__container
		h2.clients__title.page-title._anim-items._anim-no-hide Our clients says
		.clients__inner._anim-items._anim-no-hide
			.clients__item.item-clients
				p.item-clients__text Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In&nbsp;enim justo, rhoncus&nbsp;ut, imperdiet&nbsp;a, venenatis vitae, justo. Nullam dictum felis eu&nbsp;pede mollis pretium. Integer tincidunt. Cras dapibus. Nullam dictum felis eu&nbsp;pede mollis pretium. Integer tincidunt. Cras dapibus.
				.item-clients__profile
					.item-clients__info
						p.item-clients__name Joe Doe
						p.item-clients__prof Creative Deirector at Gmoogle.com
					img.item-clients__img(src="./img/Clients/clients-photo.jpg" alt="")
			.clients__item.item-clients
				p.item-clients__text Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In&nbsp;enim justo, rhoncus&nbsp;ut, imperdiet&nbsp;a, venenatis vitae, justo. Nullam dictum felis eu&nbsp;pede mollis
				.item-clients__profile
					.item-clients__info
						p.item-clients__name Joe Doe
						p.item-clients__prof Creative Deirector at Gmoogle.com
					img.item-clients__img(src="./img/Clients/clients-photo.jpg" alt="")
			.clients__item.item-clients
				p.item-clients__text Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In&nbsp;enim justo, rhoncus&nbsp;ut, imperdiet&nbsp;a, venenatis vitae, justo. Nullam dictum felis eu&nbsp;pede mollis
				.item-clients__profile
					.item-clients__info
						p.item-clients__name Joe Doe
						p.item-clients__prof Creative Deirector at Gmoogle.com
					img.item-clients__img(src="./img/Clients/clients-photo.jpg" alt="")
			.clients__item.item-clients
				p.item-clients__text Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,	vulputate eget, arcu.	In&nbsp;enim justo, rhoncus&nbsp;ut, imperdiet&nbsp;a, venenatis vitae, justo. Nullam dictum felis eu&nbsp;pede mollis
				.item-clients__profile
					.item-clients__info
						p.item-clients__name Joe Doe
						p.item-clients__prof Creative Deirector at Gmoogle.com
					img.item-clients__img(src="./img/Clients/clients-photo.jpg" alt="")
