footer.footer
	.footer__container
		a.footer__logo(href="#")
			img(src="./img/Header/logotype.png" alt="Logotype companyname")
		.footer__item
			h3.footer__title New York
			p.footer__text Address goes here in a one or two lines, maybe lorem ipsum
			a.footer__link(href="tel:4480080090") +44 800 800 90
			a.footer__link(href="mailto:info@domen.com") info@domen.com
		.footer__item
			h3.footer__title London
			p.footer__text Address goes here in a one or two lines, maybe lorem ipsum
			a.footer__link(href="tel:4480080090") +44 800 800 90
			a.footer__link(href="mailto:info@domen.com") info@domen.com
		.footer__item
			h3.footer__title Madrid
			p.footer__text Address goes here in a one or two lines, maybe lorem ipsum
			a.footer__link(href="tel:4480080090") +44 800 800 90
			a.footer__link(href="mailto:info@domen.com") info@domen.com
