header.header.lock-padding
	.header__container
		a.header__logo.logo(href="#")
			img(src="./img/Header/logotype.png" alt="Logotype companyname")
		nav.header__menu.menu
			button.menu__icon(type="button", aria-label="Open menu")
				span
			.menu__body
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Home
					li.menu__item
						a.menu__link(href="#about") About
					li.menu__item
						a.menu__link(href="#benefits") Blog
					li.menu__item
						a.menu__link(href="#properties") Portfolio
					li.menu__item
						a.menu__link(href="#properties") Contact