section.intro(style="background-image: url(./img/Intro/intro-bg.jpg);")
	.intro__container
		.intro__inner
			h1.intro__title._anim-items._anim-no-hide We&rsquo;re here to&nbsp;create your online presense and style
			p.intro__text._anim-items._anim-no-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit.	Suspendisse	mattis orci dapibus risus dignissim, viverra pellentesque arcu ullamcorper. Mauris a&nbsp;tincidunt lectus. Proin nec venenatis quam.</p>
			a.intro__btn.page-link._anim-items._anim-no-hide(href="#")
				span Start today with us
