section.portfolio#portfolio(style="background-image: url(./img/Portfolio/portfolio-bg.jpg);")
	.portfolio__container
		.portfolio__column
			h2.portfolio__title.page-title._anim-items._anim-no-hide Our experience
			p.portfolio__text._anim-items._anim-no-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem.
			p.portfolio__text._anim-items._anim-no-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in&nbsp;ferment uectetur tortor&nbsp;id, pharetra lorem.
			a.portfolio__btn.page-link.popup-link._anim-items._anim-no-hide(href="#popup")
				span View case studies
		.portfolio__column
			h2.portfolio__title.page-title._anim-items._anim-no-hide Skills
			.portfolio__item._anim-items._anim-no-hide
				h3.portfolio__skill C++ development
				.portfolio__progressbar.progressbar
					.progressbar__fill(style="width: 95%")
						span.progressbar__number 95%
						span.progressbar__triangle
			.portfolio__item._anim-items._anim-no-hide
				h3.portfolio__skill .Net
				.portfolio__progressbar.progressbar
					.progressbar__fill(style="width: 75%")
						span.progressbar__number 75%
						span.progressbar__triangle
			.portfolio__item._anim-items._anim-no-hide
				h3.portfolio__skill HTML5
				.portfolio__progressbar.progressbar
					.progressbar__fill(style="width: 80%")
						span.progressbar__number 80%
						span.progressbar__triangle
			.portfolio__item._anim-items._anim-no-hide
				h3.portfolio__skill jQuery
				.portfolio__progressbar.progressbar
					.progressbar__fill(style="width: 55%")
						span.progressbar__number 55%
						span.progressbar__triangle
			.portfolio__item._anim-items._anim-no-hide
				h3.portfolio__skill Angular
				.portfolio__progressbar.progressbar
					.progressbar__fill(style="width: 85%")
						span.progressbar__number 85%
						span.progressbar__triangle
