.action {
	padding: rem(60) 0;
	background-color: $green-primary;
	color: $white;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include mq("tablet-small", max) {
			text-align: center;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__content {
		@include mq("tablet-small", max) {
			margin: 0 0 rem(100) 0;
		}

		@include mq("phone-wide", max) {
			margin: 0 0 rem(20) 0;
		}
	}

	&__title {
		margin: 0 0 rem(15) 0;
		@include font-source-sans(rem(24), 1.1, 700, $white);
	}

	&__text {
		font-size: rem(16);
	}

	&__btn {
		padding: rem(20);
		animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
		position: relative;
		transition: all 0.5s;
		border-radius: 4px;
		text-transform: uppercase;
		text-align: center;
		color: $white;

		&:hover {
			animation-play-state: paused;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(255, 255, 255, 0.1);
			transition: all 0.3s;
		}

		&:hover::before {
			opacity: 0;
			transform: scale(0.5, 0.5);
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			transition: all 0.3s;
			border: 1px solid rgba(255, 255, 255, 0.5);
			transform: scale(1.2, 1.2);
		}

		&:hover::after {
			opacity: 1;
			transform: scale(1, 1);
		}

		@keyframes bouncing {
			0% {
				bottom: 0;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			}

			100% {
				bottom: 40px;
				box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
			}
		}

		@include mq("phone-wide", max) {
			animation: none;
		}
	}
}