.footer {
	padding: rem(50) 0 rem(60);
	background-color: #232323;
	color: $white;

	&__container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	&__logo {
		flex: 0 1 30%;
		margin: 0 0 rem(10) 0;
	}

	&__item {
		flex: 0 1 20%;

		@include mq("tablet", max) {
			margin: 0 0 rem(30) 0;
			flex: 0 1 50%;
		}
	}

	&__title {
		margin: 0 0 rem(15) 0;
		text-transform: uppercase;
		@include font-source-sans(rem(16), 1.1, 700, $green-primary);
	}

	&__text {
		margin: 0 0 rem(15) 0;
		@include font-source-sans(rem(14), 1.4);
	}

	&__link {
		display: block;
		@include font-source-sans(rem(14), 1.1);
		color: $white;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}